.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.item.list-group-item {
    padding: 5px;
    border-radius: 7px;
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
}

.item.list-group-item:hover {
    background: #336699;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
    padding: 5px;
    width: 400px;
    height: 250px;
    border-radius: 7px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0;
}

.item.list-group-item .caption {
    padding: 9px 9px 0 9px;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
    overflow: hidden;
    height: 100px;
    line-height: 20px;
    text-overflow: ellipsis;
}

.list-group-item-heading {
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.col-xs-12.col-md-6 > a {
    width: 150px;
    margin: 5px;
}

.item-details {
    width: 150px;
    font-size: 1.3em;
    padding: 0 18px;
    float: right;
    line-height: 44px;
    text-align: right;
    text-decoration: underline;
}

.item-details:hover {
    color: #ffc423;
}

.lead {
    color: #336699;
}

.info-label {
    font-size: x-large;
    line-height: 34px;

    font-style: italic;
}

.info-own {
    color: #5cb85c;
}

.info-sold {
    color: #f0ad4e;
}
