body {
    padding-top: 50px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #336699;
}

.navbar-default {
    border-color: #ffc423;
}

.navbar-default .navbar-toggle {
    border-color: #ffc423;
}

.navbar-default .navbar-toggle:hover {
    border-color: #ffc423;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffc423;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2182bd;
}

.navbar-default .navbar-nav > li > a {
    color: #ffc423;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff550;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffc423;
    background-color: #2182bd;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #fff550;
    background-color: #2182bd;
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: #2182bd;
    color: #ffc423;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff550;
    background-color: #2182bd;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #2182bd;
    color: #ffc423;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #2182bd;
    color: #ffc423;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #2182bd;
        color: #fff550;
    }
}

.dropdown-menu > li > a {
    background-color: #2182bd;
    color: #ffc423;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background-color: #336699;
        color: #ffc423;
    }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #336699;
    color: #fff550;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #2182bd;
}

.dropdown-menu .divider {
    background-color: #ffc423;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    height: 100%;
    padding: 4px;
    width: auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 30px;
    color: #ffc423;
    background-color: #336699;
}

.footer > p {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.logo-image {
    height: 50px;
}

.navbar-default .navbar-brand {
    color: #ffc423;
    padding-right: 10px;
}

.navbar-default .navbar-brand:hover {
    color: #fff550;
}

.navbar-default .navbar-brand:focus {
    color: #fff550;
}

.owner {
    color: white;
    border-radius: 3px;
    background-color: #22bf22;
}

.owner:hover {
    background-color: #fac423;
    color: white;
    text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.btn-custom {
    border-width: 1px;
    padding: 0;
    width: 90px;
}

.btn-warn {
    border-color: #ffc423;
    color: #333;
    background-color: #fff;
}

.btn-warn:hover {
    background-color: #ffedbd;
}

.btn-dang {
    border-color: #d9534f;
    color: #333;
    background-color: #fff;
}

.btn-dang:hover {
    background-color: #ffd6d3;
}

.btn-conf {
    border-color: #43b3f7;
    color: #333;
    background-color: #fff;
}

.btn-conf:hover {
    background-color: #b9f2f7;
}

.required-mark::after {
    display: inline;
    content: "*";
    color: red;
}

#custom-search-input {
    margin: 10px;
    padding: 3px;
    border: solid 1px #336699;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #336699;
    padding: 0 8px 0 10px;
    border-left: solid 1px #336699;
}

#custom-search-input button:focus {
    outline: none;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    color: #ffc423;
    border-left: solid 1px #336699;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

#custom-search-input > form.input-group {
    margin-bottom: 0;
}
