/* Martin Wolf CodePen Standard */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
    margin: 0;
    padding: 0;
@include box-sizing(border-box);
}

/* END Martin Wolf CodePen Standard */

.fade-long {
    position: relative;
    height: 2.4em;
    overflow: hidden;
    line-height: 1.2em;
}

.fade-long:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 99%);
}

.question {
    margin: 10px;
}

hr {
    border-top: 1px solid #336699;
}

p span span.glyphicon {
    color: grey;
}

.alert-fixed {
    position: fixed;
    margin: auto 10px;
    top: 60px;
    right: 0;
    z-index: 9999;
}

.search-info {
    margin: 10px 0;
    border-bottom: 1px solid #336699;
    padding: 0 10px 10px 10px;
    font-size: medium;
}

