<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>BidBuy</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/log4j.properties</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/error/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/error/error500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/jsp/error/error500.jsp</location>
  </error-page>

  <jsp-config>
    <taglib>
      <taglib-uri>http://epam.mksn.by/MentalAid/tag/msTags</taglib-uri>
      <taglib-location>/WEB-INF/tag/price.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>
